body {
	margin: 0;
	background: #000;
	color: #ddd;
	font-family: 'Inter', 'system-ui', sans-serif;
}

[astro-icon] {
	&[teal] {--clr: #0bc3c3;}
	&[green] {--clr: #19ab19;}
	&[red] {--clr: #e04848;}
	&[orange] {--clr: #fab32e;}
	&[blue] {--clr: #378ae9;}
	&[white] {--clr: #fff;}
}

* {
	box-sizing: border-box;
}
