---
import MainHead from "../components/MainHead.astro";
import SideMenuBody from "../layouts/SideMenuBody.astro";


---

<style lang="scss" is:global>
main {
	display: grid;
	place-items: center;
}
section {
	display: grid;
	gap: 25px;
	text-align: center;
}
</style>

<html lang="en">
	<head>
		<MainHead title="Sacramentix" description="Sacramentix's portfolio" />
	</head>
	<SideMenuBody>
		<section>
			<h1>404</h1>
			<p>Page not found</p>
		</section>
    </SideMenuBody>
</html>