---
import SideMenu from "../layouts/SideMenu.astro";

---

<SideMenu title="Sacramentix - 404 not found" description="This url doesn't lead to anything">
	<section>
		<h1>404</h1>
		<p>Page not found</p>
	</section>
</SideMenu>

<style lang="scss" is:global>
main {
	display: grid;
	place-items: center;
}
section {
	display: grid;
	gap: 25px;
	text-align: center;
}
</style>
