---
import { Icon } from 'astro-iconify';
import SideMenu from '../layouts/SideMenu.astro';
import YoutubeChannels from '../components/ressources/YoutubeChannels.astro';

const englishDevChannels = [
    {
        id: 'UCnUYZLuoy1rq1aVMwx4aTzw',
        name: "Chrome Developers",
        desc: "Official Youtube channel of Google Chrome dev team. Follow this channel to be informed of all the news of the web!",
        img: "https://yt3.googleusercontent.com/ytc/AAUvwniL7QUpTiyGjIpNfk6g7eCkMSB3yjnMS4wkMvY49Q=s88-c-k-c0x00ffffff-no-rj",
    },
    {
        id: 'UCJZv4d5rbIKd4QHMPkcABCw',
        name: "Kevin Powell",
        desc: "You love css? Then you will love this css wizard channel! You will learn awesome css tricks to improve your website.",
        img: "https://yt3.googleusercontent.com/ytc/AAUvwngmy_4_dTEMieSCIh8CL8SYgTg7uqIIb_ajY8O_zg=s88-c-k-c0x00ffffff-no-rj",
    },
    {
        id: 'UCsBjURrPoezykLs9EqgamOA',
        name: "Fireship",
        desc: "Want to have a quick review of new stacks? This channel present them in a 100 seconds format!",
        img: "https://yt3.googleusercontent.com/ytc/AAUvwnjWfh0Ki7uJWaYNhpZyG8ataxCL9N5SscOhfZfGXg=s88-c-k-c0x00ffffff-no-rj",
    },
    {
        id: 'UC8butISFwT-Wl7EV0hUK0BQ',
        name: "Free Code Camp",
        desc: "This channel offers free tutorials on a large amount of stack!",
        img: "https://yt3.googleusercontent.com/ytc/AAUvwnifaQZvAunS0OFb2y_cieoVjLCVjqQW8Exf3BC1gg=s88-c-k-c0x00ffffff-no-rj",
    },
    {
        id: 'UCswG6FSbgZjbWtdf_hMLaow',
        name: "Matt Pocock",
        desc: "Typescript news and tricks!",
        img: "https://yt3.googleusercontent.com/pSHatpqJ1olaZiyikhjdx3nbSJNdo71kzFYyyBpNhFAeK6v-zmfJPIp7HMtkWQ4bt0DRkU8X_-8=s88-c-k-c0x00ffffff-no-rj",
    },
    {
        id: 'UCqC2G2M-rg4fzg1esKFLFIw',
        name: "Deno",
        desc: "News on Deno!",
        img: "https://yt3.googleusercontent.com/ytc/AOPolaQuVuhA9AU3B45ml4gnIdr1sJEsKXm5Ks1-a4nJ=s88-c-k-c0x00ffffff-no-rj",
    },
    {
        id: 'UCcAlTqd9zID6aNX3TzwxJXg',
        name: "The Art of Code",
        desc: "Want to learn Shader? This channel provide a large amount of knowledge from beginners to master!",
        img: "https://yt3.googleusercontent.com/ytc/AAUvwnhMOVOXUv5mqRnsrPxhGqju2xtKUgtdY11gOvqa=s88-c-k-c0x00ffffff-no-rj",
    },
];

const frenchDevChannels = [
    {
        id: 'UCgJERWtcvu-JiPq5wBkYF1g',
        name: "Dev theory",
        desc: "News sur l'écosystème Typescript! (inactif maintenant)",
        img: "https://yt3.googleusercontent.com/Ix5JacX96aqz8UaESN5K9I3YjPrTDfJeZdKfE04CR-3WKwP1v9_Te9-G5Yb0UixZTOmEsyw0FYQ=s88-c-k-c0x00ffffff-no-rj",
    },
    {
        id: 'UCLOAPb7ATQUs_nDs9ViLcMw',
        name: "Benjamin Code",
        desc: "...",
        img: "https://yt3.googleusercontent.com/ytc/AOPolaS6gIsNDZz1mHB2aLaACFJ-qRUQcmuLtkNTLJ8Nkg=s88-c-k-c0x00ffffff-no-rj",
    },
    {
        id: 'UCIHVyohXw6j2T-83-uLngEg',
        name: "Graven",
        desc: "Cours pour débutant sur différent sujet",
        img: "https://yt3.googleusercontent.com/ytc/AOPolaTAM_24T53GD3OsIX0ggFz5XRCTF1mJ6-jhBlibrg=s88-c-k-c0x00ffffff-no-rj",
    },
    {
        id: 'UCj_iGliGCkLcHSZ8eqVNPDQ',
        name: "Grafikart",
        desc: "Encore des cours pour débutant sur différent sujet",
        img: "https://yt3.googleusercontent.com/X7pWUXBWcuK1bkbaM2yJArwsZzacYdCnPR0s_LSbvW8emW8iypRog7uMHESOWIQewY0TcvTAv8E=s88-c-k-c0x00ffffff-no-rj",
    },
];

const frenchInterrestingChannels = [
    {
        id: 'UCWedHS9qKebauVIK2J7383g',
        name: "Underscore_",
        desc: "Talk show de la Tech",
        img: "https://yt3.googleusercontent.com/RUb9pWwhDr8-uv4WTOOvn_c6cc1K5yHa2dPrOx7nqT8K2Ez1wYnVUQO_4PCJwMxOtZGg9vvZbw=s88-c-k-c0x00ffffff-no-rj",
    },
    {
        id: 'UC7sXGI8p8PvKosLWagkK9wQ',
        name: "Heu?reka",
        desc: "Vulgarisation de l'économie et la finance",
        img: "https://yt3.googleusercontent.com/PGNUlLjC28oWv08kX6wORjKT2yrFatWbl3b8ZbJEa82VZlOkV_oETuszCH5k5VBv_vyHrDsP9g=s88-c-k-c0x00ffffff-no-rj",
    },
    {
        id: 'UCSULDz1yaHLVQWHpm4g_GHA',
        name: "Monsieur Bidouille",
        desc: "Vulgarisation technique",
        img: "https://yt3.googleusercontent.com/zXm-kXYaKWx4VOt_8qYYNhgL7ZQE9yiMFal0zdOgv45MrPhmNz5f_MDFYspkyKUEijO7MLmAqtQ=s88-c-k-c0x00ffffff-no-rj",
    },
    {
        id: 'UC1EacOJoqsKaYxaDomTCTEQ',
        name: "Le Réveilleur",
        desc: "Vulgarisateur des enjeux environnementaux",
        img: "https://yt3.googleusercontent.com/ytc/AIdro_mmstADzUKmfsFLKy51XGIX2c-6cnDn0bb_qkJ4M5ZPbg=s88-c-k-c0x00ffffff-no-rj",
    },
    {
        id: 'UCaNlbnghtwlsGF-KzAFThqA',
        name: "Science étonnante",
        desc: "Vulgarisateur des sciences orienté physique",
        img: "https://yt3.googleusercontent.com/ytc/AIdro_kzU96H3Lq6fihVVFNWXUEFaidERMvSqyMwn0f455Gi4w=s88-c-k-c0x00ffffff-no-rj",
    },
    {
        id: 'UCOuIgj0CYCXCvjWywjDbauw',
        name: "Chat Sceptique",
        desc: "Vulgarisateur en statistiques",
        img: "https://yt3.googleusercontent.com/RArNSRK6gr246Benp2e768I5QnDS5hgK6IaAD2XEQ-BkettZ7pL9Fg1isgtzm20jlgxQ7cw0VA=s88-c-k-c0x00ffffff-no-rj",
    },
    {
        id: 'UCGeFgMJfWclTWuPw8Ok5FUQ',
        name: "Hacking Social",
        desc: "Vulgarisateur en sciences sociales",
        img: "https://yt3.googleusercontent.com/NKnPqcXm4J7uaLOKfBmlbqLfipBgub3PKU7rI9P_S0pZXNfO-O3KU2hP5PYi0UzCkoyZnCrg2A=s88-c-k-c0x00ffffff-no-rj",
    },
    {
        id: 'UCyJDHgrsUKuWLe05GvC2lng',
        name: "Stupid Economics",
        desc: "Vulgarisateur en économie (et en enjeux environnementaux)",
        img: "https://yt3.googleusercontent.com/-HUAw-3R2YhLkXaEJ_Uz1dv4DfQfAx21tqyAS1NSa9aNfyeFXAXbBNLBu7WNHQQRz9_sNjcIYQ=s88-c-k-c0x00ffffff-no-rj",
    },
    {
        id: 'UC0NCbj8CxzeCGIF6sODJ-7A',
        name: "Science4All",
        desc: "Vulgarisateur en mathématique (IA, Cybersécurité, gouvernance), créateur du projet open-source tournesol.app",
        img: "https://yt3.googleusercontent.com/ytc/AIdro_k9T1-UyA2hMf3zpU7kAJ5QoSJxMMGRAshKPNsq29pvhjY=s88-c-k-c0x00ffffff-no-rj",
    },
    {
        id: 'UCqA8H22FwgBVcF3GJpp0MQw',
        name: "Monsieur Phi",
        desc: "Vulgarisateur en philosophie (et IA ces derniers temps)",
        img: "https://yt3.googleusercontent.com/ytc/AIdro_mATffZ-QA8cUvuQAKouqI209OXMo0TQFEUCQAEsgBMAK4=s88-c-k-c0x00ffffff-no-rj",
    },
    {
        id: 'UC1KxoDAzbWOWOhw5GbsE-Bw',
        name: "ALT 236",
        desc: "Exploration de l'Art dans toute sa splendeur",
        img: "https://yt3.googleusercontent.com/ytc/AIdro_nvw2B4-M-zeQ6UrKNhigs5xMTaI7Q7T9De-MunpobAHCQ=s88-c-k-c0x00ffffff-no-rj",
    },
    {
        id: 'UCs2UszeXZlQ-DsHI667DONA',
        name: "Altis Play",
        desc: "Vulgarisateur en urbanisme et fan de vélo",
        img: "https://yt3.googleusercontent.com/ytc/AIdro_lUq7pPDkbmve7XmDAKJZ0LMhzDP8RbqUUXePCqd56OJkA=s88-c-k-c0x00ffffff-no-rj",
    },
    {
        id: 'UCq-8pBMM3I40QlrhM9ExXJQ',
        name: "La Tronche en Biais",
        desc: "Esprit critique, scepticisme, zététique, biais cognitifs...",
        img: "https://yt3.googleusercontent.com/ytc/AIdro_lxImqFx5KWES7xygoaTk8XaM37i3yNOUJYGMvEXvBybXo=s88-c-k-c0x00ffffff-no-rj",
    },
    {
        id: 'UCU0FhLr6fr7U9GOn6OiQHpQ',
        name: "Defekator",
        desc: "Vulgarisateur en sciences et adepte d'esprit critique très abordable",
        img: "https://yt3.googleusercontent.com/ytc/AIdro_m3MRQEEFF-JLqU6LAfzz8qJAQhDzRGJG-N3E739GYXWQ=s88-c-k-c0x00ffffff-no-rj",
    },
    {
        id: 'UCeR8BYZS7IHYjk_9Mh5JgkA',
        name: "Scilabus",
        desc: "Vulgarisateur scientifique pour tous",
        img: "https://yt3.googleusercontent.com/xpZCysdkLeBu130mA1nwOj7sbn8uVB3frCGkNkf1mUVAdjSvsVSXIvR4ffwC9gTbGYc_7N0-og=s88-c-k-c0x00ffffff-no-rj",
    },
    {
        id: 'UCZxLew-WXWm5dhRZBgEFl-Q',
        name: "Le Vortex",
        desc: "Coloc de 'vulgarisateurs' organisé par Arte qui change à chaque saison.",
        img: "https://yt3.googleusercontent.com/qRC6qGSSlCbFqo_x-H8f0IdVZKHkP4hyKPc4HKbt3AOhSzBo37HAAuD56fxsLQQ_BYwtuaGVwA=s88-c-k-c0x00ffffff-no-rj",
    },

];

const chillChannels = [
    {
        id: 'UCdC0An4ZPNr_YiFiYoVbwaw',
        name: "Daily Dose Of Internet",
        desc: "For internet addict.",
        img: "https://yt3.googleusercontent.com/ytc/AOPolaRdxv9KEY7Y3oupfZcHvnfFK0LMXWuCwF3Nq9d9_Q=s88-c-k-c0x00ffffff-no-rj",
    }
];

---
<SideMenu>
	<section lang="en">
		<h2>English dev Youtube channel</h2>
		<YoutubeChannels channels={englishDevChannels}/>
	</section>
	<section lang="fr">
		<h2>Chaine Youtube de dev français</h2>
		<YoutubeChannels channels={frenchDevChannels}/>
	</section>
	<section lang="fr">
		<h2>Chaine Youtube française que j'apprécie</h2>
		<YoutubeChannels channels={frenchInterrestingChannels}/>
	</section>
	<!-- <section lang="en">
		<h2>Chill Youtube channel</h2>
		<YoutubeChannels channels={frenchDevChannels}/>
	</section> -->
</SideMenu>


<style is:global lang="scss">

body {
	margin: 0;
	background: #000;
	color: #ddd;
	font-family: 'Source Code Pro', monospace;
}

* {
	box-sizing: border-box;
}


main {
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr;
	place-items: start center;
	background: #000;
	h2 {
		text-align: center;
		font-size: calc(1.5em + 3vmin);
	}
}

</style>