---

import { Icon } from 'astro-icon';
---

<style lang="scss">
footer {
	margin-top: auto;
}
</style>

<footer>
	<a target="_blank" href="https://astro.build">    <Icon name="vscode-icons:file-type-astro"   /> Made with Astro</a>
	<a target="_blank" href="https://www.netlify.com"><Icon name="logos:netlify" 				  /> Hosted by Netlify</a>
</footer>

