---
import { Icon } from 'astro-iconify';
import AstroSvg from "../assets/astro.svg";
---

<style lang="scss" is:global>
footer {
	margin-top: auto;
	[astro-icon] {
		width: auto;
	}
}
</style>

<footer>
	<a target="_blank" href="https://astro.build">
		<img src={AstroSvg} alt="astro icon" width="1281" height="1280" astro-icon	/> Made with Astro
	</a>
	<a target="_blank" href="https://www.netlify.com">
		<Icon name="logos:netlify"/> Hosted by Netlify
	</a>
</footer>

