---
import { Icon } from 'astro-icon';
import AstroSvg from "../assets/astro.svg";
---

<style lang="scss">
footer {
	margin-top: auto;
}
</style>

<footer>
	<a target="_blank" href="https://astro.build">    <img src={AstroSvg} alt="astro icon" astro-icon	/> Made with Astro</a>
	<a target="_blank" href="https://www.netlify.com"><Icon name="logos:netlify" 						/> Hosted by Netlify</a>
</footer>

