---


---

<style lang="scss">
header {
    display: flex;
    justify-content: center;
    h1 {
        font-size: calc(2em + 4vmin);
        font-weight: 900;
        display: flex;
        flex-direction: column;
        text-align: center;
        filter: drop-shadow(0 0 1px #fff) drop-shadow(0 0 3px cyan) drop-shadow(0 0 4px #33f8) drop-shadow(0 0 6px #33f8);
    }
}
</style>

<header>
    <h1>
        <span>Benjamin Gilloury</span>
        <span>alias</span>
        <span>Sacramentix</span>
    </h1>
</header>