---
import { Icon } from 'astro-icon';
import Footer from './Footer.astro';
---

<style is:global lang="scss">
aside {
	display: flex;
	z-index: 2;
	flex-direction: column;
	gap: 15px;
	justify-content: flex-start;
	align-items: stretch;
	text-align: center;
	flex: 1 0 22ch;
	scroll-snap-align: start;
	max-height: 100%;
	overflow-y: auto;
	background: #333;
	filter: drop-shadow(0 0 5px #0005);
	> nav {
		display: flex;
		flex-direction: column;
		text-align: start;
		align-items: stretch;
		justify-content: flex-start;
	}
	a {
		display: flex;
		align-items: center;
		line-height: 2.5em;
		text-decoration: none;
		color: inherit;
		padding: 0 5px;
		transition: background ease-in-out .2s;
		&:hover {
			background: #fff2;
		} 
	}

	[astro-icon] {
		height: 1.2em;
		margin-right: 5px;
		color: var(--clr);
		fill: var(--clr);

	}
	[s-logo] {
		height: auto;
		width: 60%;
		padding-top: 25px;
		place-self: center;
		filter: drop-shadow(0 0 1px #fffc) drop-shadow(0 0 3px #0ffc) drop-shadow(0 0 7px #0ffc);
	}
}
</style>

<aside>
	<img s-logo src="/favicon.svg" width="500" height="711" alt=" fake 3d S logo">
	<h2>Sacramentix</h2>
	<nav>
		<a href="/#"><Icon teal 	name="mdi:home"				/>	Home</a>
		<a href="/#projects"><Icon green 	name="mdi:sprout"			/>	Projects</a>
		<!-- <a href=""><Icon red 	name="mdi:presentation-play"/>	Ressources</a> -->
		<a href="/#stacks"><Icon orange name="mdi:stack-overflow"	/>	Stacks</a>
		<a href="https://github.com/Sacramentix">					  <Icon white  name="mdi:github" />	Github</a>
		<a href="https://codepen.io/sacramentix">			  		  <Icon white  name="mdi:codepen"/>	Codepen</a>
		<a href="https://www.doyoubuzz.com/benjamin-gilloury">		  <Icon orange name="mdi:account"/>	CV</a>
		<a href="https://discord.gg/cUnxzGa">						  <Icon blue   name="mdi:discord"/>	Discord</a>
		<a href="https://github.com/Sacramentix/astro.sacramentix.fr"><Icon white  name="mdi:github" />	Website repo</a>
	</nav>
	<Footer/>
</aside>

