---
import { Icon } from 'astro-iconify';
import Nav from "../components/Nav.astro";

const { title = 'Sacramentix portofolio', description = 'The personal site of Sacramentix' } = Astro.props;
---
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" property="og:description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<title>{title}</title>
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<!-- <link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap" rel="stylesheet"> -->
	</head>
	<body>
		<Nav/>
		<button show-aside aria-label="switch aside visibilty" onclick="document.body.scrollTo({left: document.body.scrollLeft != 0 ? 0 : -9999999})">
			<Icon name="mdi:menu"/>
		</button>
		<main>
			<slot></slot>
		</main>
	</body>
</html>

<style lang="scss" is:global>
html {
	overflow: hidden;
}
html, body {
	height: 100%;
	overscroll-behavior: none;
}
body {
	font-family: 'Source Code Pro', monospace;
	margin: 0;
	background: #000;
	color: #ddd;
	font-display: swap;

	overflow-x: scroll;
	width: 100vw;
	display: flex;
	flex-direction: row-reverse;
	scroll-snap-type: x mandatory;
	scrollbar-width: none;
	scroll-behavior: smooth;
	&::-webkit-scrollbar {
		width: 0;
		height: 0;
	}
}

aside {
	order: 3;
}

main {
	order: 1;
	scroll-snap-align: end;
	height: 100%;
	flex: 1 0 100vw;
	overflow-y: auto;
}

[show-aside] {
	z-index: 10;
	appearance: none;
	margin: 0;
	padding: 0;
	border: none;
	color: #ddd;
	backdrop-filter: blur(2px);
	border-radius: 5px;
	background: #fff2;
	border: 1px solid #fff4;
	right: -2em;
	display: block;
	flex: 0 0 2em;
	margin-right: -2em;
	height: 2em;
	order: 2;
	transition: .1s color ease-in-out;
	cursor: pointer;
	&:active {
		color: #555;
	}
}
[astro-icon] {
	&[teal] {--clr: #0bc3c3;}
	&[green] {--clr: #19ab19;}
	&[red] {--clr: #e04848;}
	&[orange] {--clr: #fab32e;}
	&[blue] {--clr: #378ae9;}
	&[white] {--clr: #fff;}
	fill: var(--clr);
	color: var(--clr);
}

[pixel-perfect] {
	image-rendering: pixelated;
}

* {
	box-sizing: border-box;
}

</style>
	